header {
  display: flex;
  justify-content: center;
  /* background-color: var(--Ouro-sutil); */
  background-color: var(--gold);
  padding: 50px;
  align-items: center;
  margin: auto;
  gap: 50px;
}
header img {
  width: 100%;
  max-width: 250px;
  border-radius: 130px;
}
header h1 {
  font-size: 60px;
  margin-right: 100px;
  color: var(--Marfim-Claro);
  /* position: absolute; */
}

nav {
  /* background-color: var(--gold); */
  background-color: var(--Ouro-sutil);
}

ul {
  display: flex;
  justify-content: space-evenly;
}

nav li {
  display: inline-block;
  font-size: 20px;
}

nav a {
  display: inline-block;
  color: var(--Marfim-Claro);
  padding: 10px;
}

nav a:hover {
  background-color: var(--Cinza-Areia);
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: var(--Ouro-sutil);
}
.dropdown-menu a {
  display: block;
  color: var(--Marfim-Claro);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

main {
  background-color: var(--Cinza-claro);
  margin: auto;
  text-align: center;
}

.banner {
  display: flex;
  justify-content: center;
  /* background-color: var(--Bordo); */
  align-items: center;
  flex-direction: column;
  height: 300px;
  text-align: center;
}

.banner h2 {
  color: var(--Ouro-sutil);
  font-size: 40px;
}

.banner p {
  font-size: 18px;
}
