body {
  background-color: var(--Ouro-sutil);
}

header {
  display: flex;
  justify-content: center;
  background-image: url(../assets/img/fundo-header.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px;
  align-items: center;
  margin: auto;
  gap: 50px;
}

.logo {
  width: 100%;
  max-width: 350px;
  border-radius: 130px;
  /* box-shadow: 1px 12px 10px var(--Marfim-Clarot); */
}
header h1 {
  font-size: 50px;
  margin-right: 100px;
  text-align: center;
  color: var(--Marfim-Claro);
}

header span {
  font-size: 20px;
}
nav {
  background-color: var(--Bege-Dourado);
}

ul {
  display: flex;
  justify-content: space-evenly;
}

nav li {
  display: inline-block;
  font-size: 20px;
}

nav a {
  display: inline-block;
  color: var(--Marfim-Claro);
  padding: 10px;
}

nav a:hover {
  background-color: var(--Cinza-Areia);
}

/* Dropdown -menu */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: var(--Ouro-sutil);
}
.dropdown-menu a {
  display: block;
  color: var(--Marfim-Claro);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

main {
  margin: auto;
}

/* Banner Principal */

.banner {
  width: 100%;
  display: flex;
  justify-content: center; /* Alinha horizontalmente */
  align-items: center; /* Alinha verticalmente */
  text-align: center;
  /* height: 900px; */
  /* background: url(../assets/img/banner1.png) center / cover no-repeat; */
  /* background: url(../assets/img/banner.png) center / cover no-repeat; */
}

.imagens-banner {
 
  display: flex;
  justify-content: center; /* centraliza as imagens na horizontal */
  gap: 10px; /* espaço entre as imagens */
  margin-bottom: 20px;
}

.imagens-banner {
  width: 100px; /* ajuste conforme necessário */
  height: auto;
}
.texto-banner {
  
  /* margin-top: 130px; */
  text-align: center;
  color: var(--Bordo);
  font-size: 40px;
}

.banner p {
  font-size: 20px;
  color: var(--Preto-grafite);
}

/* Promoção-banner */
.promo-banner {
  width: 100%;
  display: flex;
  justify-content: center; /* Alinha horizontalmente */
  align-items: center; /* Alinha verticalmente */
  text-align: center;
  height: 500px;
  background-color: var(--Bege-Dourado);
}

.promo-banner h2 {
  color: var(--Light-gray);
  font-size: 40px;
}

.promo-banner p {
  font-size: 20px;
  color: var(--Preto-grafite);
}

/* Rodapé */
footer {
  background-color: var(--Dark);
  color: var(--Bege-Dourado);
  padding: 30px;
  text-align: center;
}

footer p {
  margin-bottom: 5px;
  font-size: 20px;
}
